<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>

  <div layout:fragment="content">
  
	<section class="aw-layout-content  js-content">


<div class="page-header">
	<div class="container-fluid">
		<h1>
			Choose a service
		</h1>
	</div>
</div>

<!-- ######################### Bellow form Fields #################################### -->


       <div class="container-fluid">

       <form method="post" th:object="${appointment}" th:action="@{/myAppointment/save}">
       

                   
				 <div class="col-sm-2">	
				 <label>Select a haircut style</label>
				 <select class="form-control form-control-sm" th:field="*{haircut_style}">
				      
				        <option value=" " disabled selected>[[-----Choose-----]]</option>
					  	<option value="Blow out" th:text="Blowout"/>
						<option value="Fade" th:text="Fade"/>
						<option value="Mowhawk" th:text="Mowhawk"/>
						<option value="Undercut" th:text="Undercut"/>
					</select>
					</div>

                 <br/>
                 <br/>
                 <br/>
                 <br/>
                 
                  <div>
                  
                  <!--   11Here I'm going to put it on the price -->
                  
                  </div>

               <div class="col-sm-1">	
					<div class="form-check">
               <input class="form-check-input" th:field="*{hair_cut}" type="checkbox" value="Hair-cut" id="flexCheckDefault"/>
                   <label class="form-check-label" for="flexCheckDefault">
                    Hair-cut
                   </label>
               </div>
               </div>
               
               
               
               
               <div class="col-sm-10">
               <div class="form-check">
                  <input class="form-check-input" th:field="*{beard}"type="checkbox" value="Beard" id="flexCheckChecked">
                    <label class="form-check-label" for="flexCheckChecked">
                    Beard
                </label>
             </div>
             </div>
             
             
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
             
             <div class="col-sm-3">
	         <div class="form-group">
		
		     <label for="date">Date</label>
		     <input id="date" name="date" placeholder="Date of birth" th:field="*{date}" type="date" class="form-control"/>
			 </div>
             </div>
             
             
             
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
             
             <div class="col-sm-3">
	         <div class="form-group">
		
		     <label for="age">Hours</label>
		     <input id="age" name="age" placeholder="Date of birth" th:field="*{time}" type="time" class="form-control"/>
			 </div>
             </div>
             
             
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
              <br/>
             
              <div class="col-sm-12">
             <div class="form-group">
			 <button class="btn  btn-primary" type="submit">Schedule</button>
			 <input type="reset" value="Cancel" class="btn  btn-default">
			 </div>
             </div>
            
             
             
		</form>
		
		</div>


<!-- ############################### The end of the form ######################################## -->

     

	</section>
	
	</div>
	
</body>
</html>